* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* overflow-x: hidden; */
  background-color: #0E0B1E;
}

button,
input,
select,
textarea {
  all: unset;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  width: 100vw;
  min-height: 100vh;
}